/* App.vue */
:root {
  --blue-1: #8ca0ff;
  --blue-2: aliceblue;
  --blue-4: rgba(240, 244, 255, 0.85);
  --blue-3: #e6eeff;
  --white:  white;
  --gray-1: #eee;
  --gray-2: #d4d4d4;
  --red-1: rgba(234, 33, 74, 0.88);
}

/* Default component colors. Do not change. */
:root {
  --drop-hover: rgba(0,0,0,0.03);
  --drop-active: rgba(0,0,0,0.06);
  --drop-file-hover: rgba(0,0,0,0.06);
  --file-input-border: rgba(0,0,0,0.6);
}
:root {
  --file-input-border: var(--gray-2);
}

/* AddressBar_Base.vue */
.scanPath[data-v-395aa45f] {
  height: 100%;
  display: flex;
  align-items: center;
}
.scanPath .parts[data-v-395aa45f] {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: pre;
  /* to display tailing spaces */
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: transparent solid 1px;
}
.scanPath .parts[data-v-395aa45f]:hover {
  background-color: var(--blue-2);
  border-bottom: 1px solid var(--blue-1);
}
.scanPath .parts[data-v-395aa45f]:active {
  background: var(--blue-3);
}
.scanPath .parts .part[data-v-395aa45f] {
  display: contents;
}
.scanPath .spaced[data-v-395aa45f] {
  letter-spacing: 2px;
}
/* AddressBar_Folder.vue */
.opened-folder[data-v-3c8242f7] {
  height: 100%;
  display: flex;
  align-items: center;
}
.opened-folder .parts[data-v-3c8242f7] {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  /* to display tailing spaces */
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: transparent solid 1px;
}
.opened-folder .parts[data-v-3c8242f7]:hover {
  background-color: var(--blue-2);
  border-bottom: 1px solid var(--blue-1);
}
.opened-folder .parts[data-v-3c8242f7]:active {
  background: var(--blue-3);
}
.opened-folder .parts .part[data-v-3c8242f7] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.opened-folder .parts .part[data-v-3c8242f7] {
  display: contents;
}
.opened-folder .spaced[data-v-3c8242f7] {
  letter-spacing: 2px;
}
/* AddressBar_Part.vue */
.box[data-v-f8be0ec4] {
  height: 100%;
}
.box .sub[data-v-f8be0ec4] {
  height: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/* AddressBar.vue */
.address[data-v-9663c610] {
  display: flex;
  overflow-x: scroll;
  padding-left: 6px;
  scrollbar-width: none;
}
.address[data-v-9663c610]::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}
.address[data-v-9663c610]:active {
  border-right: var(--blue-1) solid 1px;
}
/* Content.vue */
[data-v-7846eebc] .row .name {
  width: var(--69bcf61c);
}
.content[data-v-7846eebc] {
  width: 100%;
  overflow: auto;
}
.content .rows[data-v-7846eebc] {
  width: 100%;
  overflow: auto;
}
.content .empty-message[data-v-7846eebc] {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-2);
}
.content .error-message[data-v-7846eebc] {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--red-1);
}
.content .error-message div h2[data-v-7846eebc] {
  margin: 0;
  padding-bottom: 6px;
  padding-left: 2px;
}
.content .error-message div pre[data-v-7846eebc] {
  display: inline;
}
.content .error-message div td[data-v-7846eebc] {
  padding-right: 3px;
}
/* Debug.vue */
.debug[data-v-0a247d01] {
  padding: 2px 2px 2px 6px;
  min-height: 18px;
}

/* FileInput.vue */
.file-input[data-v-3cb1f468] {
  transition: background-color 0.1s;
  border: solid 1px var(--file-input-border);
  box-sizing: border-box;
}
.file-input.drop-hover[data-v-3cb1f468] {
  background-color: var(--drop-file-hover);
  transition: background-color 0.1s;
}
.file-input[data-v-3cb1f468]:hover {
  background-color: var(--drop-hover);
}
.file-input[data-v-3cb1f468]:active {
  background-color: var(--drop-active);
}
.file-input[data-v-3cb1f468], label[data-v-3cb1f468], .content[data-v-3cb1f468] {
  width: 100%;
  height: 100%;
}
.file-input-hover-modal[data-v-3cb1f468] {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.005));
  transition: opacity 0.25s ease-out;
  opacity: 0;
}
.file-input-hover-modal.drop-hover[data-v-3cb1f468] {
  opacity: 1;
}
/* FileInputDefaultHoverText.vue */
.default-hover-text[data-v-6f26b9b7] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FileInputDefaultText.vue */
.default-prompt-text[data-v-14bc35f2] {
  width: inherit;
  height: inherit;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* FileInputWrapper.vue */
[data-v-60a5f691] .file-input {
  border-right: 0;
  border-left: 0;
  outline-width: 1px;
  outline-color: var(--blue-1);
}
.file-input-wrapper[data-v-60a5f691] {
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  min-height: 35px;
}
/* Guide.vue */
.guide[data-v-14d9156d] {
  animation: appear 2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide .text-wrapper[data-v-14d9156d] {
  min-width: 50%;
}
.guide div[data-v-14d9156d] {
  margin-top: 15px;
}
.guide .gray[data-v-14d9156d] {
  color: #666666;
}
.text-wrapper[data-v-14d9156d] {
  animation: fadein-14d9156d 1.5s linear 1 forwards;
}
@keyframes fadein-14d9156d {
0% {
    opacity: 0;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
/* Home.vue */
.home[data-v-0d5bf6dc] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 35px;
  border: var(--gray-2) solid 1px;
  border-right: 0;
  border-left: 0;
  box-sizing: border-box;
}
.home[data-v-0d5bf6dc]:hover {
  background-color: var(--drop-hover);
  cursor: pointer;
}
.home[data-v-0d5bf6dc]:active {
  background-color: var(--drop-active);
}
.home.active[data-v-0d5bf6dc] {
  border-width: 2px;
}
/* InnerModal.vue */
.inner-modal[data-v-462d7e6d] {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* IntersectionRow.vue */
.intersection[data-v-5baedc86] {
  width: 100%;
  position: relative;
  bottom: 120px;
}

/* Main.vue */
.main[data-v-36db2d2c] {
  grid-template-areas: "switch address search " "tabs   content content" "status status  status " "debug  debug   debug  ";
  display: grid;
  grid-template-columns: 7em 2fr 1fr;
  grid-template-rows: 2em 1fr;
  height: 720px;
  max-height: 100vh;
  width: 1280px;
  max-width: 100%;
  box-sizing: border-box;
  grid-gap: 1px;
  border: 1px solid var(--gray-2);
  background-color: var(--gray-2);
}
.main *[data-v-36db2d2c] {
  background-color: white;
}
.readme[data-v-36db2d2c] {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 8px;
  margin: 1px;
  color: darkgray;
  text-decoration: none;
}
/* MemoryConsuming.vue */
.memory-consuming-component[data-v-52c584b5] {
  position: absolute;
  left: 0;
  top: 0;
}
.memory-consuming-component > div[data-v-52c584b5] {
  width: 100%;
}
.memory-consuming-component .visible[data-v-52c584b5] {
  background-color: #415aff;
  height: 2px;
}
.memory-consuming-component .visible.over100[data-v-52c584b5] {
  background-color: #e30000;
}
.memory-consuming-component:active .visible[data-v-52c584b5] {
  background-color: #415aff80;
}
.memory-consuming-component .invisible[data-v-52c584b5] {
  height: 3px;
}
/* Row.vue */
.row[data-v-61275552] {
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: center;
}
.row[data-v-61275552]:hover {
  background-color: var(--blue-2);
}
.row.hoveredLink[data-v-61275552]:not(:hover) {
  background-color: var(--blue-4);
}
.row *[data-v-61275552] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row td.icon[data-v-61275552] {
  border-left: 2px solid transparent;
  width: 24px;
  text-align: center;
  user-select: none;
}
.row td.name[data-v-61275552] {
  display: block;
  white-space: pre;
}
.row td.size[data-v-61275552] {
  text-align: end;
  min-width: 80px;
}
.row td.size.Z[data-v-61275552] {
  color: #888;
}
.row td.size.B[data-v-61275552] {
  color: #666;
}
.row td.size.KB[data-v-61275552] {
  color: #0b0;
}
.row td.size.MB[data-v-61275552] {
  color: #0070dd;
}
.row td.size.GB[data-v-61275552] {
  color: #a335ee;
}
.row td.size.TB[data-v-61275552] {
  color: #ff8000;
}
.row td.time[data-v-61275552] {
  text-align: end;
  width: 145px;
  color: #777;
}
.row td.type[data-v-61275552] {
  text-align: end;
  width: 58px;
  user-select: none;
}
.row.error .icon[data-v-61275552] {
  border-left: 2px solid red;
}
/* ScanProgressBar.vue */
.scan-parsing-progress-component[data-v-1e232aa4] {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
.scan-parsing-progress-component > div[data-v-1e232aa4] {
  width: 100%;
}
.scan-parsing-progress-component .visible[data-v-1e232aa4] {
  background-color: var(--blue-1);
  height: 4px;
}
/* Search.vue */
/** reset */
input[data-v-d08e3284] {
  padding: 0 0;
}
button[data-v-d08e3284] {
  padding: 0 0;
}
.fuck-off-lighthouse[data-v-d08e3284] {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
.search-wrapper[data-v-d08e3284] {
  display: contents;
}
.search[data-v-d08e3284] {
  display: flex;
  height: 100%;
}
.search label[data-v-d08e3284] {
  display: contents;
}
.search input[data-v-d08e3284] {
  height: 100%;
  flex-grow: 2;
  border: none;
  padding-left: 6px;
  border-bottom: transparent solid 1px;
  box-sizing: border-box;
}
.search input[data-v-d08e3284]:focus, .search input[data-v-d08e3284]:hover {
  outline: none;
  border-bottom: var(--blue-1) solid 1px;
}
.search button[data-v-d08e3284] {
  height: 100%;
  padding: 0 6px;
  outline-width: 1px;
  outline-color: var(--blue-1);
  border: none;
  border-bottom: transparent solid 1px;
  border-left: var(--gray-2) solid 1px;
  box-sizing: border-box;
  background-color: var(--gray-1);
}
.search button[data-v-d08e3284]:hover {
  border-bottom: var(--blue-1) solid 1px;
  background: var(--blue-2);
}
.search button[data-v-d08e3284]:active {
  background: var(--blue-3);
}
/* Status.vue */
.status[data-v-08ca63fc] {
  padding: 2px 2px 2px 6px;
}

/* Switch.vue */
.switch[data-v-66ee746c] {
  display: flex;
  justify-content: center;
  align-items: center;
}
button.active[data-v-66ee746c] {
  font-weight: bold;
}
.btime[data-v-66ee746c] {
  font-style: italic;
}
button[data-v-66ee746c] {
  width: 22px;
  margin: 1px 3px;
  padding: 2px 6px;
  outline-width: 1px;
  outline-color: var(--blue-1);
  border: 1px solid var(--gray-2);
  box-sizing: border-box;
  background-color: var(--gray-1);
}
button[data-v-66ee746c]:hover {
  border-bottom: var(--blue-1) solid 1px;
  background: var(--blue-2);
}
button[data-v-66ee746c]:active {
  background: var(--blue-3);
}
/* Tabs.vue */
.tabs[data-v-a50c7e6a] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab[data-v-a50c7e6a] {
  padding: 6px;
}
