/* App.vue */
:root {
  --blue-1: #8ca0ff;
  --blue-2: aliceblue;
  --blue-3: #e6eeff;
  --white:  white;
  --gray-1: #eee;
  --gray-2: #d4d4d4;
  --red-1: rgba(234, 33, 74, 0.88);
}

/* AddressBar_Base.vue */
.scanPath[data-v-7487a6bd] {
  height: 100%;
  display: flex;
  align-items: center;
}
.scanPath .parts[data-v-7487a6bd] {
  height: 100%;
  display: flex;
  align-items: center;
  white-space: pre;
  /* to display tailing spaces */
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: transparent solid 1px;
}
.scanPath .parts[data-v-7487a6bd]:hover {
  background-color: var(--blue-2);
  border-bottom: 1px solid var(--blue-1);
}
.scanPath .parts[data-v-7487a6bd]:active {
  background: var(--blue-3);
}
.scanPath .parts .part[data-v-7487a6bd] {
  display: contents;
}
.scanPath .spaced[data-v-7487a6bd] {
  letter-spacing: 2px;
}
/* AddressBar_Folder.vue */
.opened-folder[data-v-3c8242f7] {
  height: 100%;
  display: flex;
  align-items: center;
}
.opened-folder .parts[data-v-3c8242f7] {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  /* to display tailing spaces */
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: transparent solid 1px;
}
.opened-folder .parts[data-v-3c8242f7]:hover {
  background-color: var(--blue-2);
  border-bottom: 1px solid var(--blue-1);
}
.opened-folder .parts[data-v-3c8242f7]:active {
  background: var(--blue-3);
}
.opened-folder .parts .part[data-v-3c8242f7] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.opened-folder .parts .part[data-v-3c8242f7] {
  display: contents;
}
.opened-folder .spaced[data-v-3c8242f7] {
  letter-spacing: 2px;
}
/* AddressBar_Part.vue */
.box[data-v-f8be0ec4] {
  height: 100%;
}
.box .sub[data-v-f8be0ec4] {
  height: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
/* AddressBar.vue */
.address[data-v-55c28eea] {
  display: flex;
  overflow-x: scroll;
  padding-left: 6px;
  scrollbar-width: none;
}
.address[data-v-55c28eea]::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  display: none;
}
/* Content.vue */
[data-v-02cd44d4] .row .name {
  width: var(--8f9392ba);
}
.content[data-v-02cd44d4] {
  width: 100%;
  overflow: auto;
}
.content .rows[data-v-02cd44d4] {
  width: 100%;
  overflow: auto;
}
.content .empty-message[data-v-02cd44d4] {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-2);
}
.content .error-message[data-v-02cd44d4] {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--red-1);
}
.content .error-message div h2[data-v-02cd44d4] {
  margin: 0;
  padding-bottom: 6px;
  padding-left: 2px;
}
.content .error-message div pre[data-v-02cd44d4] {
  display: inline;
}
.content .error-message div td[data-v-02cd44d4] {
  padding-right: 3px;
}
/* Debug.vue */
.debug[data-v-16910406] {
  padding: 2px 2px 2px 6px;
}

/* FileSelect.vue */
.file-select label[data-v-23a29b76] {
  cursor: pointer;
}
.file-select label[data-v-23a29b76]:hover {
  text-decoration: underline;
}
input[data-v-23a29b76] {
  display: none;
}
/* Main.vue */
.main[data-v-602ec060] {
  grid-template-areas: "switch address search " "tabs   content content" "status status  status " "debug  debug   debug  ";
  display: grid;
  grid-template-columns: 7em 2fr 1fr;
  grid-template-rows: 2em 1fr;
  height: 720px;
  max-height: 100vh;
  width: 1280px;
  max-width: 100%;
  box-sizing: border-box;
  grid-gap: 1px;
  border: 1px solid var(--gray-2);
  background-color: var(--gray-2);
}
.main *[data-v-602ec060] {
  background-color: white;
}
/* Row.vue */
.row[data-v-54eb98be] {
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: center;
}
.row[data-v-54eb98be]:hover {
  background-color: var(--blue-2);
}
.row *[data-v-54eb98be] {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row td.icon[data-v-54eb98be] {
  border-left: 2px solid transparent;
  width: 24px;
  text-align: center;
  user-select: none;
}
.row td.name[data-v-54eb98be] {
  display: block;
  white-space: pre;
}
.row td.size[data-v-54eb98be] {
  text-align: end;
  min-width: 80px;
}
.row td.size.Z[data-v-54eb98be] {
  color: #777;
}
.row td.size.B[data-v-54eb98be] {
  color: #000;
}
.row td.size.KB[data-v-54eb98be] {
  color: #0b0;
}
.row td.size.MB[data-v-54eb98be] {
  color: #0070dd;
}
.row td.size.GB[data-v-54eb98be] {
  color: #a335ee;
}
.row td.size.TB[data-v-54eb98be] {
  color: #ff8000;
}
.row td.mtime[data-v-54eb98be] {
  text-align: end;
  width: 145px;
  color: grey;
}
.row td.type[data-v-54eb98be] {
  text-align: end;
  width: 58px;
  user-select: none;
}
.row.error .icon[data-v-54eb98be] {
  border-left: 2px solid red;
}
/* Search.vue */
/** reset */
input[data-v-25e26c47] {
  padding: 0 0;
}
button[data-v-25e26c47] {
  padding: 0 0;
}
.fuck-off-lighthouse[data-v-25e26c47] {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
.search[data-v-25e26c47] {
  display: flex;
  height: 100%;
}
.search label[data-v-25e26c47] {
  display: contents;
}
.search input[data-v-25e26c47] {
  height: 100%;
  flex-grow: 2;
  border: none;
  padding-left: 6px;
  border-bottom: transparent solid 1px;
  box-sizing: border-box;
}
.search input[data-v-25e26c47]:focus, .search input[data-v-25e26c47]:hover {
  outline: none;
  border-bottom: var(--blue-1) solid 1px;
}
.search button[data-v-25e26c47] {
  height: 100%;
  padding: 0 6px;
  outline: none;
  border: none;
  border-bottom: transparent solid 1px;
  border-left: var(--gray-2) solid 1px;
  box-sizing: border-box;
  background-color: var(--gray-1);
}
.search button[data-v-25e26c47]:hover {
  border-bottom: var(--blue-1) solid 1px;
  background: var(--blue-2);
}
.search button[data-v-25e26c47]:active {
  background: var(--blue-3);
}
/* Status.vue */
.status[data-v-08ca63fc] {
  padding: 2px 2px 2px 6px;
}

/* Tabs.vue */
.tabs[data-v-4cf83322] {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab[data-v-4cf83322] {
  padding: 6px;
}
